[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
yapf = "*"
requests = "*"
scipy = "*"
pandas = "*"
matplotlib = "*"
numpy = "*"
jupyter = "*"
pyhive = "*"
thift = "*"
sasl = "*"
thrift-sasl = "*"
pyspark = "*"

[requires]
python_version = "3.7"
